//====================================================================================================

//====================================================================================================
.fast {
	position: relative;
	// .fast__container

	&__container {
	}
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 700px;
	min-height: 1050px;

	// .list__column

	&__column {
	}

	// .list__bagraund

	&__bagraund {
		position: fixed;
		top: -48px;
		right: -313px;

		z-index: -1;
		img {
			max-width: 1490px;
		}
		@media (max-width: $tablet) {
		}
		@media (max-width: 1440px) {
		}
	}
}
.column-list {
	// .column-list__title

	&__title {
		font-size: rem(50);
		margin: 0px 0px 14px 0px;
		color: #091133;
		line-height: math.div(66, 50);
		font-weight: 500;
		@media (max-width: $mobileSmall) {
			font-size: rem(35);
		}
	}

	// .column-list__text

	&__text {
		max-width: 570px;
		font-size: rem(18);
		line-height: math.div(30, 18);
		color: #505f98;
		p {
			padding: 5px 0;
		}
	}

	// .column-list__btn

	&__btn {
		margin: 27px 0px 0px 0px;
	}
}
.btn-list {
	display: flex;
	// .btn-list__

	&__link {
		line-height: math.div(26, 16);
		color: #091133;
		margin: 0px 30px 0px 0px;
		font-weight: 500;
		max-width: 190px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		border: 2px solid #091133;
		box-sizing: border-box;
		border-radius: 2px;
		transition: all 0.3s ease 0s;
		&:last-child {
			margin: 0;
		}
		@media (min-width: $tablet) {
			&:hover {
				color: #ffffff;
				background: #111b47;
				border-radius: 2px;
				transition: all 0.3s ease 0s;
			}
		}
	}
}

//========================================================================================================================================================

.powerful {
	// .powerful__wrapper

	&__wrapper {
		background: #ffffff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__container {
		padding: 35px 0px 0px 0px;
	}
}
.wrapper-powerful {
}
.expert-column {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px auto;
	// .expert-column__title

	&__title {
		margin: 100px 0px 16px 0px;
	}

	// .expert-column__text

	&__text {
	}
}

.expert-items {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	// .expert-items__item

	&__item {
		padding: 0px 10px;
		margin: 80px 30px 0px 0px;
		&:last-child {
			margin: 80px 0px 0px 0px;
		}
	}
}
.item-expert {
	// .item-expert__text

	&__text {
		max-width: 245px;
		color: #5d6970;
		font-size: rem(12);
		line-height: math.div(18, 12);
	}

	// .item-expert__column

	&__column {
	}

	// .item-expert__img

	&__img {
		margin: 0px 0px 14px 0px;
	}

	// .item-expert__title

	&__title {
		font-weight: 500;
		color: #091133;
		font-size: rem(16);
		line-height: math.div(26, 16);
	}
}
.expert-item {
	flex: 1 1 50%;
	margin: 0px 30px 0px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
.item-expert-img {
	img {
		max-width: 540px;
		width: 100%;
	}
}
