//====================================================================================================

//====================================================================================================
.fast {
	position: relative;
	// .fast__container

	&__container {
	}
}

.list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 1058px;
	@media (max-width: 1500px) {
		@include adaptiveValue("min-height", 500, 0);
		padding: 10px 0px 20px 0px;
	}
	// .list__column

	&__column {
		@media (max-width: 1500px) {
			margin: 90px 0px 0px 0px;
		}
	}

	// .list__img

	&__img {
		position: relative;
		.bagraund {
			position: fixed;
			top: -48px;
			right: -313px;
			z-index: -1;
		}
		.img {
			flex: 1 1 975px;
			@media (max-width: 1500px) {
				max-width: 700px;
				width: 150%;
				gap: 25px;
				@include adaptiveValue("gap", 25, 15);
			}
			@media (max-width: 1050px) {
				display: none;
			}
		}

		.gear-wheel_big {
			position: absolute;
			top: 0;
			right: 44%;
			animation: gear-wheel_big 180s linear infinite both;
			@media (max-width: 1500px) {
				width: 60px;
			}
			@media (max-width: 1050px) {
				display: none;
			}
		}
		@-webkit-keyframes gear-wheel_big {
			0% {
				-webkit-transform: rotate(0);
				transform: rotate(0);
			}
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
		@keyframes rotate-center {
			0% {
				-webkit-transform: rotate(0);
				transform: rotate(0);
			}
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}

		.gear-wheel_small {
			position: absolute;
			top: 50px;
			right: 36%;
			animation: gear-wheel_small 75s linear infinite reverse both;
			@media (max-width: 1500px) {
				width: 50px;
			}
			@media (max-width: 1050px) {
				display: none;
			}
		}
		@-webkit-keyframes gear-wheel_small {
			0% {
				-webkit-transform: rotate(0);
				transform: rotate(0);
			}
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
		@keyframes rotate-center {
			0% {
				-webkit-transform: rotate(0);
				transform: rotate(0);
			}
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
	}
}

.column-list {
	flex: 0 0 650px;
	@media (max-width: 1500px) {
		flex: 1 1 650px;
	}
	// .column-list__title

	&__title {
		font-size: rem(50);
		margin: 0px 0px 14px 0px;
		color: #091133;
		line-height: math.div(66, 50);
		font-weight: 500;
		@include adaptiveValue("font-size", 50, 20);
	}

	// .column-list__text

	&__text {
		font-size: rem(18);
		line-height: math.div(30, 18);
		color: #505f98;
		p {
			padding: 5px 0;
		}
		@media (max-width: 1500px) {
		}
	}

	// .column-list__btn

	&__btn {
		margin: 27px 0px 0px 0px;
	}
}
.btn-list {
	display: flex;
	// .btn-list__

	&__link {
		line-height: math.div(26, 16);
		color: #091133;
		margin: 0px 30px 0px 0px;
		font-weight: 500;
		max-width: 190px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		border: 2px solid #091133;
		box-sizing: border-box;
		border-radius: 2px;
		transition: all 0.3s ease 0s;
		&:last-child {
			margin: 0;
		}
		@media (min-width: $tablet) {
			&:hover {
				color: #ffffff;
				background: #111b47;
				border-radius: 2px;
				transition: all 0.3s ease 0s;
			}
		}
	}
}

//========================================================================================================================================================

.powerful {
	// .powerful__wrapper

	&__wrapper {
		background: #ffffff;
		// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__container {
	}
}
.wrapper-powerful {
}
.expert-column {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px auto;
	// @include adaptiveValue("padding-top", 108, 0);
	@include adaptiveValue("padding-bottom", 50, 10);
	@media (max-width: $pc) {
		align-items: end;
	}
	@media (max-width: 994px) {
		flex-wrap: wrap-reverse;
	}
	// .expert-column__title

	&__title {
		@include adaptiveValue("margin-top", 100, 10);
		margin: 0px 0px 16px 0px;
	}

	// .expert-column__text

	&__text {
	}
}

.expert-items {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@media (max-width: 450px) {
		display: block;
	}
	// .expert-items__item

	&__item {
		margin: 80px 30px 0px 0px;
		@media (max-width: 994px) {
			margin: 40px 30px 0px 0px;
		}

		&:last-child {
			margin: 80px 0px 0px 0px;
			@media (max-width: 994px) {
				margin: 40px 0px 0px 0px;
			}
		}
	}
}
.item-expert {
	// .item-expert__text

	&__text {
		max-width: 245px;
		color: #5d6970;
		font-size: rem(12);
		line-height: math.div(18, 12);
		@media (max-width: 450px) {
			max-width: 300px;
		}
	}

	// .item-expert__column

	&__column {
	}

	// .item-expert__img

	&__img {
		margin: 0px 0px 14px 0px;
	}

	// .item-expert__title

	&__title {
		font-weight: 500;
		color: #091133;
		font-size: rem(16);
		line-height: math.div(26, 16);
	}
}
.expert-item {
	flex: 0 0 50%;
	margin: 0px 30px 0px 0px;

	@media (max-width: $pc) {
		flex: 1 1 100%;
	}
	@media (max-width: 994px) {
		flex: 0 0 50%;
	}
	@media (max-width: 994px) {
		flex: 1 1 100%;
	}
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
.item-expert-img {
	text-align: center;
	img {
		max-width: 540px;
		width: 100%;
		@media (max-width: 994px) {
		}
	}
}
//========================================================================================================================================================

.last-light {
	// .last-light__wrapper

	&__wrapper {
		background: #ffffff;
	}

	// .last-light__container

	&__container {
	}
}
.light-items {
	display: flex;
	align-items: center;
	@include adaptiveValue("padding-top", 122, 10);
	@include adaptiveValue("padding-bottom", 122, 10);
	justify-content: space-between;
	&:nth-child(even) {
		flex-direction: row-reverse;
	}
	@media (max-width: $mobile) {
		display: block;
		@include adaptiveValue("padding-top", 80, 10);
		@include adaptiveValue("padding-bottom", 80, 10);
	}
}
.light-item {
	// .light-item__img

	&__img {
		flex: 0 0 calc(480 / (1114 / 100%));

		@media (max-width: $mobile) {
			flex: 0 1 80%;
			text-align: center;
			margin: 0px 0px 0px 0px;
		}
		img {
			max-width: 100%;
			@media (max-width: $mobile) {
				max-width: calc(100% - 80px);
			}
		}
	}

	// .light-item__column

	&__column {
	}
}
.column-light {
	flex: 0 0 calc(445 / (1114 / 100%));
	@media (max-width: $mobile) {
		flex: 0 1 100%;
		@include adaptiveValue("margin-top", 50, 10);
	}
	// .column-light__title

	&__title {
	}

	// .column-light__text

	&__text {
	}

	&__btn {
		background: #111b47;
		border-radius: 5px;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 14px;
		line-height: math.div(24, 14);
		width: 150px;
		padding: 7px 0px;
		@include adaptiveValue("margin-top", 44, 10);
		transition: all 0.3s ease 0s;
		@media (min-width: $tablet) {
			&:hover {
				background: #798de6;
				transition: all 0.3s ease 0s;
			}
		}
	}
}
